
<div class="background">
<img src="../images/roots.jpg">
</div>

<div class="container-photos">
  <div class="row">

            <div class="col-md-3">
                <img src="../images/Hands2.png" class= "hands_icon">
                  <div class="caption">    
                  <h3>Find the purpose.</h3>
                  </div>
            </div>
          <div class="col-md-3">            
              <img src="../images/Hands3.png" class="hands_icon2">
              <div class="caption">
                  <h3>Help others with a small act of kindness.</h3>
                </div>         
          </div>
          <div class="col-md-3">   
              <img src="../images/Hands4.png" class="hands_icon3">
              <div class="caption">
                  <h3>Share your experience!.</h3>
                </div>
          </div>
          <div class="twitter col-md-3">
            <a class="twitter-timeline" href="https://twitter.com/notipositivas" data-widget-id="615916771074265088">Tweets por el @notipositivas.</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
          </div>

  </div>
</div>


<section class="video">
   <span class= "glyphicon glyphicon-play-circle play"></span>
    
    <iframe class="youtube-player" type="text/html" src="https://www.youtube.com/embed/watch?v=36UWY92ub8c"></iframe>
              
   
    <img src="../images/act.jpg" alt="" class="video_foto"/>
    
</section>
